<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>LISTA DE DEUDAS TOTALES</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		/* Adjust the space between navbar items */
		#collapsibleNavbar .navbar-nav .nav-item+.nav-item {
			margin-left: 150px;
			/* Space between nav items */
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Administración de deudores</a>

		<!-- Toggler/Collapse Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Combined Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/deudores}">Deudores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/RegistrarDeuda}">Registrar Deuda</a>
				</li>
				<!-- Add the link for "Deudas Totales" here if you want it in the navbar -->
				<!-- 
				<li class="nav-item">
					<a class="nav-link" th:href="@{/DeudasTotales}">Deudas Totales</a>
				</li>
				-->
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<h1>Lista de Deudas Totales</h1>
		</div>

		<div class="row">
			<div class="col">
				<form th:action="@{/listaDeudasTotales/name}" method="get">
					<div class="input-group mb-3">
						<div class="input-group-append ml-2">
							<button type="submit" class="btn btn-primary">Buscar Deuda</button>
						</div>
						<input type="text" class="form-control"
							style="margin-left: 30px;margin-right: 450px; width: auto;"
							placeholder="Buscar deuda por Nombre del deudor" name="buscarNombre_Apellido1"
							id="searchBox">
					</div>
				</form>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Nombre deudor</th>
					<th>Fecha deuda</th>
					<th>Numero de boleta</th>
					<th>Numero de serie</th>
					<th>Total deuda</th>
					<th>Adelanto</th>
					<th>Saldo de deuda</th>
					<th>Tipo de pago</th>
					<th>Documento de Transferencia</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="st: ${registroDeudaTotalModelo}">
					<td th:text="${st.nombreDeudor}"></td>
					<td th:text="${st.fechaDeuda}"></td>
					<td th:text="${st.numeroBoleta}"></td>
					<td th:text="${st.numeroSerie}"></td>
					<td th:text="${st.totalDeuda}"></td>
					<td th:text="${st.adelanto}"></td>
					<td th:text="${st.saldoDeuda}"></td>
					<td th:text="${st.tipoPago}"></td>
					<td th:text="${st.documentoTransferencia}"></td>
					<!--					<td>-->
					<!--						<a th:href="@{/deudores/edit/{id}(id=${st.id})}" class="btn btn-primary">Update</a>-->
					<!--						<a th:href="@{/deudores/delete/{id}(id=${st.id})}" class="btn btn-danger">Delete</a>-->
					<!--					</td>-->
				</tr>
			</tbody>
		</table>
		<!--		<div class="row">-->
		<!--			<div class="col-lg-3">-->
		<!--				<a th:href="@{/deudores/new}" class="btn btn-primary btn-sm mb-3">Agregar deudores</a>-->
		<!--			</div>-->
		<!--		</div>-->
	</div>

</body>

</html>